{% extends 'twig/layouts/main.twig' %}

{% block main %}

    <div id="about" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ page.title }}</h1>
        </div>
        <div id="about--content">
            {{ page.content|raw }}
        </div>
        {% if members is not empty %}
            <div id="about--team">
                <ul>
                    {% set modulo = 3 %}
                    {% for i, member in members %}
                    {% if not i % modulo %}
                        <li class="last">
                    {% else %}
                        <li>
                    {% endif %}
                            <div class="member clearfix">
                                <div class="member--picture">
                                    <img src="{{member.pic.sizes.memberPic.url}}" />
                                </div>
                                <div class="member--bio">
                                    <h4>{{ member.fullName }}</h4>
                                    <p>{{ member.job }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <!-- Blog -->
    {% include 'twig/blog/latest.twig' %}
    <!-- End blog -->

{% endblock %}