{% extends 'twig/layouts/main.twig' %}

{% block main %}
    <div id="books" class="wrapper">
        <div class="bks-title-box">
            <h1>{{ __("Search results", constant('THEME_TEXTDOMAIN')) }}</h1>
        </div>
        <div id="books--collection">
            {% if books is not empty %}
                <ul class="books">
                    {% set modulo = 3 %}
                    {% for i, book in books %}
                    {% if modulo - 1 == i % modulo %}
                        <li class="last">
                    {% else %}
                        <li>
                    {% endif %}
                            <div class="book">
                                <h3>{{ book.title }}</h3>
                                {% if book.featuredImage %}
                                <a href="{{ featuredImage.link }}" class="book-featured-box" style="background-color: {{ book.color }};">
                                    <img src="{{book.promoImage.sizes.bookFeaturedImage.url}}" />
                                </a>
                                {% endif %}
                                <p>{{ book.excerpt }}</p>
                                <div class="button-box">
                                    <a href="{{ book.link }}" class="tiny-button">{{ __("Buy", constant('THEME_TEXTDOMAIN')) }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>{{ '%s "%s"'|format(__("Sorry, but we don't find any books related to:", constant('THEME_TEXTDOMAIN')), searched_terms) }}</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
