{% extends 'twig/layouts/main.twig' %}

{% block main %}

    <!-- Book promo -->
    <div id="bks-promo" style="background-color: {{ book.color }};">
        <div class="wrapper">
            <div class="promo-wrapper">
                <div class="promo-container">
                    <h1>{{ book.title }}</h1>
                    <h5>{{ '%s %s'|format(__("By", constant('THEME_TEXTDOMAIN')), book.bookAuthor ) }}</h5>
                    <a href="#" class="big-button">{{ __("Buy the book", constant('THEME_TEXTDOMAIN')) }}</a>
                </div>
                <div class="promo-media">
                    <img src="{{ book.promoImage.sizes.bookPromo.url }}" alt="{{ book.title }}" width="399" height="435">
                </div>
            </div>
        </div>
    </div>
    <!-- End book promo -->
    <!-- Book content -->
    <div class="wrapper">
        <div id="book--container">
            <div class="bks-title-box">
                <h1>{{ __("Content", constant('THEME_TEXTDOMAIN')) }}</h1>
            </div>
            <div id="book--content">
                {{ book.content|raw }}
            </div>
        </div>
    </div>
    <!-- End book content -->
    <!-- Recommended books -->
    <div class="wrapper">
        <div class="bks-title-box">
            <h1>{{ __("Recommandations", constant('THEME_TEXTDOMAIN')) }}</h1>
        </div>
        <div id="popular-container">
            <ul class="books">
                {% set modulo = 3 %}
                {% for i, book in books %}
                {% if modulo - 1 == i % modulo %}
                    <li class="last">
                {% else %}
                    <li>
                {% endif %}
                        <div class="book">
                            <h3>{{ book.title }}</h3>
                            {% if book.featuredImage %}
                                <a href="{{ featuredImage.link }}" class="book-featured-box" style="background-color: {{ book.color }};">
                                    <img src="{{book.promoImage.sizes.bookFeaturedImage.url}}" />
                                </a>
                            {% endif %}
                            <p>{{ book.excerpt }}</p>
                            <div class="button-box">
                                <a href="{{ book.link }}" class="tiny-button">{{ __("Buy", constant('THEME_TEXTDOMAIN')) }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- End recommended books -->

{% endblock %}
